.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.task{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border: 2px solid;
  padding: 7px;
  border-radius: 10px;
}

.task p{
  padding: 10px 0 0px 18px;
}

.task button{
  padding-right: 22px;
  border: none;
}
.task button i{
  font-size: 28px;
}

.input-group{
  margin-top: 10px;
}